body {
    font-family: Arial, sans-serif;
    background-color: #bb9999;
    padding: 20px;
}

h1 {
    color: #110e0e;
}

button {
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
}
